*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
   
}

html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* Minicircle section starts  */
#minicircle{
    transition: all cubic-bezier(0.19,1,0.22,1) 0.7s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color:#fff;
    
}
.bounding{
    width: fit-content;
    overflow: hidden;
   
}
.bounding .boundingelem{
    transform: translateY(100%);
   
}
/* Minicircle  section ends  */



#main{
    width: 100%;
    background-color:black;
}


/* Hero section start  */
#hero{
    color:#fff;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
#nav{
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
}

#myname a{
    font-size: 1.5vw;
    padding: 10px ;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #fff;
}

#navbar a{
    font-size: 1.5vw;
    padding: 10px ;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #fff;
}
#heading{
    margin-top: 10vw;
    margin-bottom: 10vw;

}
#heading h1{
    margin-left: 30px;
    opacity: 1;
    line-height: 1;
    font-family:"general-sans Medium";
    font-size: 7vw;
    text-transform: uppercase;
}
#heading #secondh1{
    margin-left: 230px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.blocktext h5{
    text-transform: uppercase;
    font-size: 25px;
    text-align: right;
}
#smallheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 8vw;
    padding-right: 50px;

}
#smallheading h4 {
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 2vw;

}
#herofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    width: 100%;
    position: absolute; 
    margin-bottom: 4vw;
}
#herofooter a {
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.7vw;
}
#herofooter #iconset{
    display: flex;
    gap: 10px;
    padding: 10px;
    
}
#herofooter #iconset .circle {
    color:#fff;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
    
}
 /*  Hero section ends  */


 /* Eduction section starts */
#eduction{
    margin-top: 10vw;
    color:#fff;
    padding: 8vw 3vw;
    background-color:black;
    width: 100%;
    height: 100%;
  
}
#eduction h1 {
    color:#fff;
    font-size: 5vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    border-bottom: 1px solid #fff;
    background-color:black;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 3vw 0;
    background-color:black;
}
.elem h2{
    font-size: 2.7vw;
    opacity: 1;
    background-color:black;
}
.elem h5{
    text-transform: uppercase;
    font-size: 1.8vw;
    opacity: 1;
    background-color:black;
}
.elem img{
    height: 160%;
    width: 20%;
    opacity: 0%; 
    z-index: 999;
    position: absolute;   
}
.elemlast{
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}
/* Eduction section ends */


/* Skills Section Start */

#skills{
    color:#fff;
    padding:8vw 3vw;
    width: 100%;
    height: 100%;
    background-color:black;
}
#skills h1{
    color:#fff;
    font-size: 5vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    border-bottom: 1px solid #fff;
    background-color:black;
}
/* Skills Section Ends  */



/* Project starts here */
#project{
    color:#fff;
    padding: 8vw 3vw;
    background-color:black;
    width: 100%;
    height: 100%;
   
}
#project h1{
    font-size: 5vw;
    border: #fff;
    padding-bottom: 1vw;
    border-bottom: 1px solid #fff;

}
#project .project1{
    border-bottom: 1px solid #fff;
   
}
#project h2{
    padding: 1.5vw 0;
    font-size: 2.3vw;
   
   
}
.project1 a{
    text-decoration: none;
    color:#fff;
    padding: 5px 13px;
    margin: 2vw;
    border-radius: 60px;
    border: 1px solid #fff;
    
}
.desc h3{
    font-size: 1.5vw;
    padding: 0.3vw;
    
}
/* Project section ends  */




/* Experience starts here */
#experience{
    color:#fff;
    padding: 8vw 3vw;
    background-color:black;
    width: 100%;
    height: 100%;
    
}
#experience h1{
    font-size: 5vw;
    border: #fff;
    padding-bottom: 1.5vw;
    border-bottom: 1px solid #fff;
}
#experience .two{

    border-bottom: 1px solid #fff;
}
#experience .three{

    border-bottom: 1px solid #fff;
}
#experience #proj{
    font-size: 2.7vw ;
}
.projtitle a{
    text-decoration: none;
    color:#fff;
}
.IT {
    padding-top: 1.5vw;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.IT h2{
    font-size: 2.7vw;
    opacity: 1;
}
.IT h5{
    text-transform: uppercase;
    font-size: 1.8vw;
    opacity: 1;
}
.IT h3{
    align-items: center;
    font-size: 1.5vw;
}
/* Experience section ends  */




/* About Section starts  */
#about {
    padding: 8vw 2.5vw;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    background-color:black;
}
#about img{
    width: 15vw;
}  
#textabout{
    width: 35rem;
}
#textabout h4{
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 10px;
    font-size: 2vw;
}
#textabout p{
    line-height: 1.8;
    margin-bottom: 30px;
    font-size: 1.5vw;
}
#textabout a{
    padding: 10px 17px;
    border: 1px solid #fff;
    border-radius: 80px;
    color:#fff;
    font-size: 2vw;
    background-color:black;
}
/* About section ends  */




/* Footer section starts  */
#footer{
    background-color:black;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px; 
}
#footerleft{
    display: flex;
    gap: 20px
}
#footerleft h5{
    font-size: 1.5vw;
}
#footerright{
    display: flex;
    gap: 10px
}
#footer a{
    font-size: 2vw;
    color:#fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid #fff;
    background-color: black;
  
}

/* Footer section ends  */
